.div-general {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-general div {
    background-color: aqua;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}